/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/gotham/gotham.css);
@import url(../../lib/font/elena/elena.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #000;

$mainColor: #fff;
$headingColor: #009be3;

$mainFontSize: 42px;
$mainFont: 'gotham medium', Helvetica, sans-serif;
$elena: 'elena', Helvetica, sans-serif;
$headingFont: 'gotham medium', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #009be3;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.first-section-wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: space-around;
	> div {
		position: relative;
		.big-name {
			position: absolute;
			top: 30px;
			left: 45%;
		}
	}
}

.second-section-wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	> .row {
		margin: 50px 0;
		padding-right: 120px;
		position: relative;
		display: flex;
		justify-content: space-between;
		> div {
			position: relative;
			img {
				width: 200px;
			}
			.big-name {
				position: absolute;
				top: 30px;
				left: 45%;
				font-size: 45px !important;
			}
			.job{
				position: absolute;
				top: 150px;
				left: 110%;
			}
		}
	}
	
}

.bg-section {
	> div {
		position: fixed;
		top: 0;
		left: calc((50vw - 480px)* -1);
		height: 100vh;
		width: 100vw;
	}
	
}

.logo-section{
	width: 960px;
	height: 700px;
	position: relative;
	.logo{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		> span{
			display: block;
		}
		svg {
			width: 100%;
			height: auto;
			display: block;
			fill: white;
		}
	}
}

#icon-iadvize{
	max-width: 350px;
}
#icon-drivy{
	max-width: 220px;
}
#icon-chauffeurprive{
	max-width: 620px;
}
#icon-leon-grosse{
	max-width: 220px;
}
#icon-akeneo{
	max-width: 320px;
}
#icon-beezup{
	max-width: 220px;
}

.job{
	font-family: $elena !important;
	font-size: 20px !important;
	text-align: left;
}

.big-name{
	color: $headingColor;
	font-weight: 700 !important;
	font-size: 60px !important;
	line-height: 1 !important;
	text-align: left !important;
}

.section-goliath{
	display: flex;
	position: relative;
	> span:not(.cross) {
		position: relative;
		width: 50%;
		padding: 0 100px;
	}
	.cross {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&:before{
			content: "";
			position: absolute;
			top: calc(50% - 25px);
			left: calc(50%);
			height: 50px;
			width: 1px;
			transform:  rotate(45deg);
			background-color: rgba(white, 0.5);
		}
		&:after{
			content: "";
			position: absolute;
			top: calc(50%);
			left: calc(50% - 25px);
			height: 1px;
			width: 50px;
			transform:  rotate(45deg);
			background-color: rgba(white, 0.5);
		}
	}

	.txt-ss, .txt-sg{
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 25px 0 0;
		top: 100%;
		left: 0;
		font-size: 18px;
		span {
			margin: 3px 0;
		}
	}

	.logo-ss {
		display: flex;
		svg {
			margin: 0 20px;
		}
		#icon-stereo{
			fill: white;
		}
		#icon-super{
			
			fill: #009be3;
		}
	}
	svg {
		height: 100%;
		max-width: 100%;
	}
}


